body {
  background: linear-gradient(90deg, #222f3e 30%, #393E46 70%);
  color     : #ddd;
}

h1 {
  margin-top : 10px;
  font-weight: 700;
}

.dmodal.open .modal-overlay,
.dmodal.open .modal-window {
  opacity: 1;
  z-index: 1000;
}

.dmodal.hide .modal-overlay,
.dmodal.hide .modal-window {
  opacity: 1;
  z-index: 1000;
}

.dmodal.open .modal-window {
  transform: translateY(100px);
}

.dmodal.open .modal-overlay {
  background: rgba(0, 0, 0, .5);
}

.dmodal.hide .modal-window {
  transform: translateY(-200px);
}

.dmodal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position  : fixed;
  top       : 0;
  right     : 0;
  left      : 0;
  bottom    : 0;
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  width           : 600px;
  border-radius   : 5px;
  background-color: #393E46;
  margin          : 0 auto;
  transform       : translateY(-200px);
  transition      : transform .2s ease-in;
}

.modal-header {
  padding        : 5px 10px;
  display        : flex;
  justify-content: space-between;
  border-bottom  : 1px solid rgba(24, 29, 22, 0.7);
}

.modal-title {
  font-size: 1.5rem;
}

.modal-close {
  cursor: pointer;
}

.modal-body {
  margin: 0 0 5px;
}

.modal-footer {
  padding   : 5px 10px;
  border-top: 1px solid rgba(24, 29, 22, 0.7);
}

.col {
  flex: 0 0 380px;
}

.card-img-top {
  height: 500px;
}

.card-body {
  background-color: #2a3239;
}

.card {
  background-color: #000;
  border          : 3px solid #111;
}

@media (max-width: 991px) {
  .col {
    flex: 0 0 266px;
  }

  .card-body {
    min-height     : 150px;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
  }

  .card-img-top {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .col {
    flex: 0 0 300px;
  }

  .card-img-top {
    height: 320px;
  }
}